node_modules

.git
.gitignore

# Build local

dist
build

# Variáveis de ambiente (Usar as declaradas no docker-compose)

.env

# Configurações de desenvolvimento que não impactam o build

.prettierrc
eslint.config.js
